<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-sm text-center">
            <p><%= display_name %></p>
            <% if(picture){ %>
                <img src="<%= picture %>" />
             <% } %>
            <a href="/auth/logout" class="btn btn-primary">Wyloguj się</a>
        </div>
    </body>
</html>
